.footer {
    margin-top: 10%;
    text-align: left;
    height: 40vh;
    border-bottom: 0.1px solid var(--color-secondary);
    margin-bottom: 20px;
}

.footer .logo {
    margin: 0 auto;
    width: 30%;
}

.footer .slogan {
    text-align: center;
    margin: 10px;
}

.footer .social-links {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--color-secondary);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    transition: 0.3s ease;
}

.footer .social-links a:hover {
    background-color: var(--color-primary);
}

::selection {
    color: white;
    background-color: var(--color-primary);
}

.footer ul {
    margin-top: 25px;
}

.footer ul li {
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.2s linear;
}

.footer ul li:hover {
    color: var(--color-primary)
}