img {
    width: 100%;
}

.Card_item {
    margin: 0 5px;
    text-align: center;
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.Card_item .thumb {
    display: block;
    position: relative;
    transition: 0.5s linear;
    overflow: hidden;
    width: 290px;
}

.Card_item .thumb:hover {
    border-radius: 49% 49% 0 0;
}

.Card_item .thumb img {
    transition: 0.5s ease;
    position: relative;
}

.Card_item .thumb img:first-child {
    opacity: 1;
    transition: 0.3s linear;

}

.Card_item .thumb:hover img:first-child {
    opacity: 0;
}

.Card_item .thumb img:last-child {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s linear;
}

.Card_item .thumb:hover img:last-child {
    opacity: 1;
    display: block;
    transform: scale(1.2);
}

.Card_item .sale {
    display: none;
    width: 50px;
    height: 20px;
    color: white;
    padding: 2.5px 10px;
    font-weight: bold;
    font-size: 10px;
    top: 10px;
    left: 10px;
    background-color: var(--color-primary);
    position: absolute;
    transition: 0.2s linear;
    z-index: 999;
}

.Card_item .sale.active {
    display: block;
}

.Card_item:hover .sale.active {
    display: none;
}

.Card_item .info {
    margin-top: 10px;
}

.Card_item .info .cate {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.35;
}

.Card_item .info .name {
    font-size: 20px;
    color: var(--color-secondary);
    text-transform: capitalize;
    transition: 0.2s ease;
}

.Card_item .info .name:hover {
    color: var(--color-primary)
}

.Card_item .info .material {
    color: var(--color-text);
    text-transform: capitalize;
    font-size: 14px
}

.Card_item .info .price .discount {
    font-weight: 700;
    color: var(--color-secondary)
}

.Card_item .info .price .cost {
    color: var(--color-secondary);
    font-weight: 500;
    text-decoration: line-through;
    font-size: 14px;
}

.Card_item .info .price .discount.active {
    display: none;
}

.Card_item .info .price .cost.active {
    font-weight: 700;
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 16px;
}