.DetailProduct {
    background-color: white;
}

.DetailProduct .box_detail {
    margin-top: 5%;
}

.DetailProduct .box_detail .thumb {
    width: 90%;
}

.DetailProduct .box_detail .row-2 {
    padding: 100px 0;
}

.DetailProduct .box_detail .infor .name {
    font-weight: 36px;
    font-family: 'Prata', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: 0;
    line-height: 1.35;
}

.DetailProduct .box_detail .infor .material {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--color-text);
    line-height: 1.5;
    margin-bottom: .45rem;
}

.DetailProduct .box_detail .infor .price {
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1.5em;
}

.DetailProduct .box_detail .infor .price .discount {
    font-weight: 700;
    color: var(--color-secondary);
    font-size: 18px;
}

.DetailProduct .box_detail .infor .price .cost {
    color: var(--color-secondary);
    font-weight: 500;
    text-decoration: line-through;
    font-size: 14px;
}

.DetailProduct .box_detail .infor .discount.active {
    display: none;
}

.DetailProduct .box_detail .infor .cost.active {
    font-weight: 700;
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 18px;
}

.DetailProduct .box_detail .infor .instock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.DetailProduct .box_detail .infor .instock {
    font-family: 'Prata', sans-serif;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0;
    font-size: 12px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #4eba59;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    position: relative;
}

.DetailProduct .box_detail .infor .instock::before {
    content: "";
    display: block;
    background-color: #4eba59;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    left: 0;
    position: absolute;
}

.DetailProduct .box_detail .infor .shortdesc {
    padding-top: 18px;
    line-height: 1.5;
    margin-bottom: 1.5em;
}

.DetailProduct .box_detail .infor .icon {
    margin-bottom: 2.2rem;
}

.DetailProduct .box_detail .infor .icon .text-color {
    font-size: 14px;
    color: var(--color-text)
}



.DetailProduct .box_detail .addtocart .count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e3e3e3;

}

.DetailProduct .box_detail .addtocart .count input {
    padding: 13px 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    outline: none;
    background-color: transparent;
    border: none
}

.DetailProduct .box_detail .addtocart .count button {
    padding: 10px;
    border: none;
    background-color: transparent;
    transition: 0.5s linear;
}

.DetailProduct .box_detail .addtocart .count button:active {
    background-color: gray
}

.DetailProduct .box_detail .addtocart .shop-now {
    margin: 0;
    border-radius: 2px
}