.Cart .link_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Cart .link_header .Home,
.Cart .link_header .Shop {
    line-height: 24px;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 400;
    font-size: 14px;
    transition: 0.2s ease;
}

.Cart .link_header .Shop {
    color: var(--color-primary)
}

.Cart .link_header .Home:hover,
.Cart .link_header .Home:hover i {
    color: var(--color-primary)
}

.Cart .link_header .Home i,
.Cart .link_header .icon i {
    margin-right: 10px;
    color: var(--color-text);
    transition: 0.2s ease;
    font-size: 13px;
}

.Cart .link_header .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.Cart .cart-product {
    margin-top: 10%;
}